@model Recruiter.Models.ApplicationViewModels.ApplicationDetailsViewModel

@{
    ViewData["Title"] = "ApplicationDetails";
}

<h2>Application Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.FirstName) @Html.DisplayFor(model => model.User.LastName) (@Html.DisplayFor(model => model.User.Email))
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.JobPosition.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.JobPosition.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CvFileUrl)
        </dt>
        <dd>
            <a href="@Model.CvFileUrl" target="_blank">Click to view CV</a>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
    </dl>
</div>

<h3>Stages</h3>

<div class="row panel-body">
    @*<hr />*@
    @if (Model.ApplicationStages.Count() != 0)
    {
        <table class="well table table-condensed table-bordered" header header-content="Applications Stages">
            <thead>
                <tr>
                    <th>Level</th>
                    <th>Type</th>
                    <th>State</th>
                    <th>Rate</th>
                    <th>Responsible User</th>
                    <th>Accepted By</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var applicationStage in Model.ApplicationStages)
                {
                    <tr>
                        <td>@Html.DisplayFor(model => applicationStage.Level)</td>
                        <td>
                            @applicationStage.GetType().Name
                            <span condition="applicationStage.Accepted" class="glyphicon glyphicon-ok"></span>
                        </td>
                        <td>@Html.DisplayFor(model => applicationStage.State)</td>
                        <td>@Html.DisplayFor(model => applicationStage.Rate)</td>
                        <td>
                            @Html.DisplayFor(model => applicationStage.ResponsibleUser.FirstName)
                            @Html.DisplayFor(model => applicationStage.ResponsibleUser.LastName)
                            <b Condition="applicationStage.ResponsibleUserId != null">
                                (@Html.DisplayFor(model => applicationStage.ResponsibleUser.Email))
                                <a Condition="applicationStage.State == ApplicationStageState.Waiting" asp-action="AssingUserToApplicationStage" asp-controller="ApplicationStage" asp-route-stageId="@applicationStage.Id">Change</a>
                            </b>
                            <b Condition="applicationStage.ResponsibleUserId == null">
                                (not assigned)
                                <a asp-action="AssingUserToApplicationStage" asp-controller="ApplicationStage" asp-route-stageId="@applicationStage.Id">Assing</a>
                            </b>
                        </td>
                        <td>
                            @Html.DisplayFor(model => applicationStage.AcceptedBy.FirstName)
                            @Html.DisplayFor(model => applicationStage.AcceptedBy.LastName)
                            <b Condition="applicationStage.AcceptedById != null">
                                (@Html.DisplayFor(model => applicationStage.AcceptedBy.Email))
                            </b>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        @:Applications View History not found.
    }
</div>

<form asp-action="DeleteApplication" asp-route-id="@Model.Id" method="post">
    <button type="submit" onclick="return confirm('Do you really want to delete this application?');" class="btn btn-sm btn-danger">
        Delete
    </button>
    <a condition="@ViewData["ReturnUrl"] != null" class="btn btn-sm btn-default" href="@ViewData["ReturnUrl"]">Back</a>
    <a condition="@ViewData["ReturnUrl"] == null" class="btn btn-sm btn-default" asp-action="Applications">Back</a>
</form>

@*<a condition="@ViewData["ReturnUrl"] != null" class="btn btn-sm btn-default" href="@ViewData["ReturnUrl"]">Back</a>
<a condition="@ViewData["ReturnUrl"] == null" class="btn btn-sm btn-default" asp-action="Applications">Back</a>*@

<h3>Last 20 view history (<a asp-controller="Application" asp-action="ApplicationsViewHistory" asp-route-id="@Model.Id" asp-route-returnurl="@Context.Request.Path">See more</a>)</h3>

<div class="row panel-body">
    @*<hr />*@
    @if (Model.ApplicationsViewHistories.Count() != 0)
    {
        <table class="well table table-condensed table-bordered" header header-content="Applications View History">
            @*<table class="well table table-hover table-bordered table-scroll" header header-content="Applications View History">*@
            <thead>
                <tr>
                    <th>View Time</th>
                    <th>User</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var applicationViewHistory in Model.ApplicationsViewHistories)
                {
                    <tr>
                        <td>@Html.DisplayFor(model => applicationViewHistory.ViewTime)</td>
                        <td><a asp-controller="Admin" asp-action="UserDetails" asp-route-id="@applicationViewHistory.UserId" asp-route-returnurl="@Context.Request.Path">@applicationViewHistory.UserId</a></td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        @:Applications View History not found.
    }
</div>
