@using Recruiter.Models.ApplicationViewModels
@model IEnumerable<ApplicationsViewModel>

@{
    ViewData["Title"] = "Applications";
}

<h2>Applications</h2>

@if (!Model.Any())
{
    <tr><td colspan="3" class="text-center">No applications</td></tr>
}
else
{
    <table class="table table-condensed table-bordered" header header-content="My applications">
        <tr>
            <th>User</th>
            <th>Name</th>
            <th>Apply time</th>
        </tr>

        @foreach (ApplicationsViewModel application in Model)
        {
            <tr>
                <td>
                    @application.User.FirstName @application.User.LastName (@application.User.Email)
                </td>
                <td>
                    <a asp-action="ApplicationDetails" asp-route-id="@application.Id" asp-route-returnurl="@Context.Request.Path">@application.JobPosition.Name</a>
                </td>
                <td>
                    @application.CreatedAt
                </td>
            </tr>
        }
    </table>
}