@*@model Recruiter.Models.ApplicationViewModels.ShowApplicationViewModel

@{
    ViewData["Title"] = "Application";
}

<h2>Your application</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.FirstName) @Html.DisplayFor(model => model.User.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.JobPosition.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.JobPosition.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CvFileName)
        </dt>
        <dd>
            <a href="@Model.CvFileName" target="_blank">Click to view CV</a>
        </dd>
    </dl>
</div>*@