@using Recruiter.Models.JobPositionViewModels
@model IEnumerable<JobPositionViewModel>

@{
    ViewData["Title"] = "Oferty pracy";
}

<h2>Oferty pracy
    <a class="btn btn-default" asp-action="Add" asp-route-returnurl="@Context.Request.Path">
        <span class="glyphicon glyphicon-plus">
        </span>
    </a>
</h2>
<div asp-validation-summary="All" class="text-danger"></div>

<div>
    <ul class="nav nav-tabs">
        @if (!JobPositionActivity.Activities.Contains(@ViewContext.RouteData.Values["jobPositionActivity"]?.ToString()))
        {
            <li class="nav-item active">
                <a asp-action="Index" asp-route-jobPositionActivity="">Wszystkie</a>
            </li>
        }
        else
        {
            <li class="nav-item ">
                <a asp-action="Index" asp-route-jobPositionActivity="">Wszystkie</a>
            </li>
        }

        @foreach (var activity in JobPositionActivity.Activities)
        {
            if (@ViewContext.RouteData.Values["jobPositionActivity"]?.ToString() == activity)
            {
                <li class="nav-item active ">
                    <a asp-action="Index" asp-route-jobPositionActivity="@activity">
                        @switch (@activity)
                        {
                            case JobPositionActivity.Active:
                                @:Aktywne
                                break;
                            case JobPositionActivity.Planned:
                                @:Zaplanowane
                                break;
                            case JobPositionActivity.Expired:
                                @:Zamknięte
                                break;
                        }
                    </a>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a asp-action="Index" asp-route-jobPositionActivity="@activity">
                        @switch (@activity)
                        {
                            case JobPositionActivity.Active:
                                @:Aktywne
                                break;
                            case JobPositionActivity.Planned:
                                @:Zaplanowane
                                break;
                            case JobPositionActivity.Expired:
                                @:Zamknięte
                                break;
                        }
                    </a>
                </li>
            }
        }

        @*<li class="nav-item navbar-right">
            <a class="btn btn-success" asp-action="Add" asp-route-returnurl="@Context.Request.Path">Add Job Position</a>
            <a class="btn btn-success" asp-action="Add" asp-route-returnurl="@Context.Request.Path">
                New
                <span class="glyphicon glyphicon-plus">

                </span>
            </a>
            <span  class="glyphicon glyphicon-plus"></span>
        </li>*@
    </ul>
</div>

@if (Model.Any())
{
    @*<a class="btn btn-sm btn-default" asp-action="Add" asp-route-returnurl="@Context.Request.Path">Add</a>
    <br />

    @if (!JobPositionActivity.Activities.Contains(@ViewContext.HttpContext.Request.Query["jobPositionActivity"]))
    {
        <b><a asp-action="Index" asp-route-jobPositionActivity="">All</a> |</b>
    }
    else
    {
        <a asp-action="Index" asp-route-jobPositionActivity="">All</a> @:|
    }

    @foreach (var activity in JobPositionActivity.Activities)
    {
        if (@ViewContext.HttpContext.Request.Query["jobPositionActivity"] == activity)
        {
            <b>
                <a asp-action="Index" asp-route-jobPositionActivity="@activity">
                    @activity
                </a> |
            </b>
        }
        else
        {
            <a asp-action="Index" asp-route-jobPositionActivity="@activity">
                @activity
            </a> @:|
        }
    }*@
    

    @*<a asp-action="Applications" asp-route-stage="PhoneCall">All</a> |
    <a asp-action="Applications" asp-route-stage="PhoneCall">PhoneCall</a> |
    <a asp-action="Applications" asp-route-stage="PhoneCall">Active</a> |
    <a asp-action="Applications" asp-route-stage="PhoneCall">NotActive</a> |*@
    
    @*<br />*@
    
    <table class="table table-condensed table-bordered" header header-content="Job position management">
        <thead>
            <tr>
                @*<th>Id</th>*@
                <th>Stanowisko</th>
                <th>Czas rozpoczęcia</th>
                <th>Czas zakończenia</th>
                <th>Akcje</th>
            </tr>
        </thead>
        
        <tbody>
            @foreach (JobPositionViewModel jobPosition in Model)
            {
                @if ((jobPosition.EndDate >= DateTime.UtcNow.ToLocalTime() || jobPosition.EndDate == null) && jobPosition.StartDate <= DateTime.UtcNow.ToLocalTime())
                {
                    @:<tr style="background-color: lightyellow;">
                }
                else
                {
                    @:<tr>
                }
                    @*<td>@jobPosition.Id</td>*@
                    <td>@jobPosition.Name</td>
                    <td>@Html.DisplayFor(model => jobPosition.StartDate)</td>
                    <td>@Html.DisplayFor(model => jobPosition.EndDate)</td>
                    <td>
                        <form asp-action="Delete" asp-route-jobPositionId="@jobPosition.Id" asp-route-returnurl="@Context.Request.Path" method="post">
                            <a class="btn btn-sm btn-default" asp-action="Details" asp-route-jobPositionId="@jobPosition.Id" asp-route-returnurl="@Context.Request.Path">Szczegóły</a>
                            <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-jobPositionId="@jobPosition.Id" asp-route-returnurl="@Context.Request.Path">Edytuj</a>
                            <button type="submit" onclick="return confirm('Czy na pewno chcesz usunąć tę ofertę precy?');" class="btn btn-sm btn-danger">
                                Usuń
                            </button>
                        </form>
                    </td>
                @:</tr>
            }
        </tbody>
    </table>
}
else
{
    <br />
    @:Any job position not found.
        @*<b>
            <a asp-action="Add" asp-route-returnurl="@Context.Request.Path">click here</a>
        </b>
    @:to add first job position.*@
}