@{
    Layout = "_Layout";
}

@if (@TempData["Error"] != null)
{
    <div class="alert alert-danger fade in" id="danger-alert">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        @*@TempData["Error"]
            <br />*@
        @Html.Raw(TempData["Error"])
    </div>
}

@if (@TempData["Warning"] != null)
{
    <div class="alert alert-warning fade in" id="warning-alert">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        @*@TempData["Warning"]*@
        @Html.Raw(TempData["Warning"])
    </div>
}
@if (@TempData["WarningEmailNotification"] != null)
{
    <div class="alert alert-warning fade in" id="warning-alert">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        @*@TempData["Warning"]*@
        @Html.Raw(TempData["WarningEmailNotification"])
    </div>
}

@if (@TempData["Success"] != null)
{
    <div class="alert alert-success fade in" id="success-alert">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        @*@TempData["Success"]*@
        @Html.Raw(TempData["Success"])
    </div>
}