@model Recruiter.Models.ApplicationStageViewModels.AddAppointmentsToInterviewViewModel

@{
    ViewData["Title"] = "AddAppointmentsToInterviewView";
}

<h2>Add Appointments To Interview View</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Application.User)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Application.User.FirstName) @Html.DisplayFor(model => model.Application.User.LastName) (@Html.DisplayFor(model => model.Application.User.Email))
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Application.JobPosition.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Application.JobPosition.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Application.CvFileUrl)
        </dt>
        <dd>
            <a href="@Model.Application.CvFileUrl" target="_blank">Click to view CV</a>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Application.CreatedAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Application.CreatedAt)
        </dd>
    </dl>
</div>
<a class="btn btn-sm btn-default" asp-action="ApplicationsStagesToReview" asp-route-stageId="@Model.StageToProcess.Id">Back</a>

<hr />
<h3>Appointments</h3>
@*<a class="btn btn-default" asp-action="AddInterviewAppointments" asp-route-stageId="@Model.StageToProcess.Id">
    Add Interview Appointment
</a>*@

<form asp-controller="ApplicationStage" asp-action="AddAppointmentsToInterview" method="post" class="form-horizontal" role="form">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group" hidden>
        <label asp-for="NewInterviewAppointment.Id" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="NewInterviewAppointment.Id" class="form-control" readonly="readonly" />
            <span asp-validation-for="NewInterviewAppointment.Id" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group" hidden>
        <label asp-for="NewInterviewAppointment.InterviewId" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="NewInterviewAppointment.InterviewId" class="form-control" readonly="readonly" />
            <span asp-validation-for="NewInterviewAppointment.InterviewId" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="NewInterviewAppointment.StartTime" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="NewInterviewAppointment.StartTime" class="form-control" />
            <span asp-validation-for="NewInterviewAppointment.StartTime" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="NewInterviewAppointment.Duration" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="NewInterviewAppointment.Duration" class="form-control" />
            <span asp-validation-for="NewInterviewAppointment.Duration" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-primary" value="Send" />
        </div>
        @*<a condition="@ViewData["ReturnUrl"] != null" class="btn btn-sm btn-default" href="@ViewData["ReturnUrl"]">Back</a>
            <a condition="@ViewData["ReturnUrl"] == null" class="btn btn-sm btn-default" asp-action="Index">Back</a>*@
        @*<a class="btn btn-sm btn-default" asp-action="Index">Back</a>*@
    </div>
</form>


<div class="row panel-body">
    @if (Model.StageToProcess.InterviewAppointments.Count() != 0)
    {
        <table class="well table table-condensed table-bordered" header header-content="Interview Appointments">
            <thead>
                <tr>
                    @*<th>@Html.DisplayNameFor(model => model.StageToProcess.InterviewAppointments.First().Id)</th>*@
                    <th>@Html.DisplayNameFor(model => model.StageToProcess.InterviewAppointments.First().StartTime)</th>
                    <th>@Html.DisplayNameFor(model => model.StageToProcess.InterviewAppointments.First().Duration)</th>
                    <th>@Html.DisplayNameFor(model => model.StageToProcess.InterviewAppointments.First().EndTime)</th>
                    <th>@Html.DisplayNameFor(model => model.StageToProcess.InterviewAppointments.First().InterviewAppointmentState)</th>
                    <th>@Html.DisplayNameFor(model => model.StageToProcess.InterviewAppointments.First().AcceptedByRecruit)</th>
                    <th>@Html.DisplayNameFor(model => model.StageToProcess.InterviewAppointments.First().AcceptedByRecruitTime)</th>
                    @*<th>@Html.DisplayNameFor(model => model.StageToProcess.InterviewAppointments.First().InterviewId)</th>*@
                </tr>
            </thead>
            <tbody>
                @foreach (var appointment in Model.StageToProcess.InterviewAppointments)
                {
                    @if (appointment.InterviewAppointmentState == InterviewAppointmentState.Rejected)
                    {
                        @:<tr style="color: gray">
                    }
                    else
                    {
                        @:<tr>
                    }
                    
                        @*<td>@Html.DisplayFor(model => appointment.Id)</td>*@
                        <td>@Html.DisplayFor(model => appointment.StartTime)</td>
                        <td>@Html.DisplayFor(model => appointment.Duration)</td>
                        <td>@Html.DisplayFor(model => appointment.EndTime)</td>
                        <td>@Html.DisplayFor(model => appointment.InterviewAppointmentState)</td>
                        <td>@Html.DisplayFor(model => appointment.AcceptedByRecruit)</td>
                        <td>@Html.DisplayFor(model => appointment.AcceptedByRecruitTime)</td>
                        @*<td>@Html.DisplayFor(model => appointment.InterviewId)</td>*@
                    @:</tr>
                }
            </tbody>
        </table>
    }
    else
    {
        @:Interview Appointments not found.
    }
</div>


<a class="btn btn-sm btn-primary"
       asp-action="AcceptAppointmentsToInterview"
       asp-route-stageId="@Model.StageToProcess.Id"
       asp-route-accepted="@true"
       asp-route-returnurl="@ViewData["ReturnUrl"]">
    Add appointment to confirm
</a>
<a class="btn btn-sm btn-primary"
       asp-action="AcceptAppointmentsToInterview"
       asp-route-stageId="@Model.StageToProcess.Id"
       asp-route-accepted="@false"
       asp-route-returnurl="@ViewData["ReturnUrl"]">
    Reject
</a>

@*<form asp-controller="ApplicationStage" asp-action="AddAppointmentsToInterview" method="post" class="form-horizontal" role="form">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group" hidden>
        <label asp-for="Application.Id" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Application.Id" class="form-control" readonly="readonly" />
            <span asp-validation-for="Application.Id" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group" hidden>
        <label asp-for="StageToProcess.Id" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="StageToProcess.Id" class="form-control" readonly="readonly" />
            <span asp-validation-for="StageToProcess.Id" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-success" value="Add appointment to confirm" asp-route-accepted="@true" />
            <input type="submit" class="btn btn-danger" value="Reject" asp-route-accepted="@false" />
        </div>
        <a condition="@ViewData["ReturnUrl"] != null" class="btn btn-sm btn-default" href="@ViewData["ReturnUrl"]">Back</a>
        <a condition="@ViewData["ReturnUrl"] == null" class="btn btn-sm btn-default" asp-action="Index">Back</a>
    </div>
</form>*@

<hr />
<h4>Finished Stages</h4>
<div class="row panel-body">
    @if (Model.ApplicationStagesFinished.Count() != 0)
    {
        <table class="well table table-condensed table-bordered" header header-content="Applications Stages">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Note</th>
                    <th>Rate</th>
                    @*<th>Accepted</th>*@
                    <th>Accepted By</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var applicationStage in Model.ApplicationStagesFinished)
                {
                    <tr>
                        <td>
                            @*@applicationStage.GetType().Name*@
                            <a asp-action="ShowApplicationStageDetails"
                               asp-controller="ApplicationStage"
                               asp-route-stageId="@applicationStage.Id"
                               asp-route-returnurl="@Context.Request.Path">
                                @applicationStage.GetType().Name
                            </a>
                            <span condition="applicationStage.Accepted" class="glyphicon glyphicon-ok"></span>
                        </td>
                        <td>@Html.DisplayFor(model => applicationStage.Note)</td>
                        <td>@Html.DisplayFor(model => applicationStage.Rate)</td>
                        @*<td>@Html.DisplayFor(model => applicationStage.Accepted)</td>*@
                        <td>
                            @Html.DisplayFor(model => applicationStage.AcceptedBy.FirstName)
                            @Html.DisplayFor(model => applicationStage.AcceptedBy.LastName)
                            <b Condition="applicationStage.AcceptedById != null">
                                (@Html.DisplayFor(model => applicationStage.AcceptedBy.Email))
                            </b>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        @:Finished Applications Stages not found.
    }
</div>


<hr />
<h4>Waiting Stages</h4>
@if (Model.ApplicationStagesWaiting.Count() != 0)
{
    @:Waiting stages count:
    @Model.ApplicationStagesWaiting.Count()
}
else
{
    @:No other stages
}