@model Recruiter.Models.ApplicationStageViewModels.AddHomeworkSpecificationViewModel

@{
    ViewData["Title"] = "Process PhoneCall";
}

<h2>Application Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Application.User)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Application.User.FirstName) @Html.DisplayFor(model => model.Application.User.LastName) (@Html.DisplayFor(model => model.Application.User.Email))
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Application.JobPosition.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Application.JobPosition.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Application.CvFileUrl)
        </dt>
        <dd>
            <a href="@Model.Application.CvFileUrl" target="_blank">Click to view CV</a>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Application.CreatedAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Application.CreatedAt)
        </dd>
    </dl>
</div>

<hr />
<h3>Processed Stages</h3>
<form asp-controller="ApplicationStage" asp-action="AddHomeworkSpecification" method="post" class="form-horizontal" role="form">
    <div asp-validation-summary="All" class="text-danger"></div>

    @*<div class="form-group" hidden>
            <label asp-for="Application.Id" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Application.Id" class="form-control" readonly="readonly" />
                <span asp-validation-for="Application.Id" class="text-danger"></span>
            </div>
        </div>*@

    <div class="form-group" hidden>
        <label asp-for="StageToProcess.Id" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="StageToProcess.Id" class="form-control" readonly="readonly" />
            <span asp-validation-for="StageToProcess.Id" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="StageToProcess.Description" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            @*<input asp-for="StageToProcess.Description" class="form-control" />*@
            <textarea id="summernote" name="StageToProcess.Description"></textarea>
            <span asp-validation-for="StageToProcess.Description" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="StageToProcess.Duration" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="StageToProcess.Duration" class="form-control" />
            <span asp-validation-for="StageToProcess.Duration" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-primary" value="Send" asp-route-returnUrl="@ViewData["ReturnUrl"]" />
        </div>
        <a condition="@ViewData["ReturnUrl"] != null" class="btn btn-sm btn-default" href="@ViewData["ReturnUrl"]">Back</a>
        <a condition="@ViewData["ReturnUrl"] == null" class="btn btn-sm btn-default" asp-action="Index">Back</a>
    </div>
</form>

<hr />
<h4>Finished Stages</h4>
<div class="row panel-body">
    @if (Model.ApplicationStagesFinished.Count() != 0)
    {
        <table class="well table table-condensed table-bordered" header header-content="Applications Stages">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Note</th>
                    <th>Rate</th>
                    @*<th>Accepted</th>*@
                    <th>Accepted By</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var applicationStage in Model.ApplicationStagesFinished)
                {
                    <tr>
                        <td>
                            @*@applicationStage.GetType().Name*@
                            <a asp-action="ShowApplicationStageDetails"
                               asp-controller="ApplicationStage"
                               asp-route-stageId="@applicationStage.Id"
                               asp-route-returnurl="@Context.Request.Path">
                                @applicationStage.GetType().Name
                            </a>
                            <span condition="applicationStage.Accepted" class="glyphicon glyphicon-ok"></span>
                        </td>
                        <td>@Html.DisplayFor(model => applicationStage.Note)</td>
                        <td>@Html.DisplayFor(model => applicationStage.Rate)</td>
                        @*<td>@Html.DisplayFor(model => applicationStage.Accepted)</td>*@
                        <td>
                            @Html.DisplayFor(model => applicationStage.AcceptedBy.FirstName)
                            @Html.DisplayFor(model => applicationStage.AcceptedBy.LastName)
                            <b Condition="applicationStage.AcceptedById != null">
                                (@Html.DisplayFor(model => applicationStage.AcceptedBy.Email))
                            </b>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        @:Finished Applications Stages not found.
    }
</div>


<hr />
<h4>Waiting Stages</h4>
@if (Model.ApplicationStagesWaiting.Count() != 0)
{
    @:Waiting stages count:
    @Model.ApplicationStagesWaiting.Count()
}
else
{
    @:No other stages
}