@using Recruiter.Models.ApplicationStageViewModels
@model ApplicationsStagesToReviewViewModel

@{
    ViewData["Title"] = "Oczekujące etapy rekrutacji";
}

<h2>Oczekujące etapy rekrutacji</h2>

<div>
    <ul class="nav nav-tabs">
        @if (Model.StageSortedByName.Where(x => x.Name == @ViewContext.RouteData.Values["stageName"]?.ToString())
                                    .Count() == 0)
        {
            <li class="nav-item active">
                <a asp-action="ApplicationsStagesToReview" asp-route-stageName="">Wszystkie</a>
            </li>
        }
        else
        {
            <li class="nav-item ">
                <a asp-action="ApplicationsStagesToReview" asp-route-stageName="">Wszystkie</a>
            </li>
        }

        @foreach (var stage in Model.StageSortedByName)
        {
            if (@ViewContext.RouteData.Values["stageName"]?.ToString() == stage.Name)
            {
                <li class="nav-item active">
                    <a asp-action="ApplicationsStagesToReview" asp-route-stageName="@stage.Name">
                        @switch (@stage.Name)
                        {
                            case "ApplicationApproval":
                                @:Akceptacja aplikacji
                                break;
                            case "PhoneCall":
                                @:Rozmowa telefoniczna
                                break;
                            case "Homework":
                                @:Zadanie domowe
                                break;
                            case "Interview":
                                @:Rozmowa kwalifikacyjna
                                break;
                        }
                        (@Html.DisplayFor(x => stage.Quantity))
                    </a>
                </li>
            }
            else
            {
                <li Condition="stage.Quantity!=0" class="nav-item">
                    <a asp-action="ApplicationsStagesToReview" asp-route-stageName="@stage.Name">
                        @switch (@stage.Name)
                        {
                            case "ApplicationApproval":
                                @:Akceptacja aplikacji
                                break;
                            case "PhoneCall":
                                @:Rozmowa telefoniczna
                                break;
                            case "Homework":
                                @:Zadanie domowe
                                break;
                            case "Interview":
                                @:Rozmowa kwalifikacyjna
                                break;
                        }
                        (@Html.DisplayFor(x => stage.Quantity))
                    </a>
                </li>
                <li Condition="stage.Quantity==0" class="nav-item disabled">
                    <a>
                        @switch (@stage.Name)
                        {
                            case "ApplicationApproval":
                                @:Akceptacja aplikacji
                                break;
                            case "PhoneCall":
                                @:Rozmowa telefoniczna
                                break;
                            case "Homework":
                                @:Zadanie domowe
                                break;
                            case "Interview":
                                @:Rozmowa kwalifikacyjna
                                break;
                        }
                    </a>
                </li>
            }
        }
    </ul>
</div>

@if (!Model.AsignedStages.Any())
{
    <tr>
        <td colspan="3" class="text-center">
            <br />
            Nie znaleziono aplikacji do wyświetlenia.
        </td>
    </tr>
}
else
{
    <table class="table table-condensed table-bordered" header header-content="My applications">
        <tr>
            <th>Kandydat</th>
            <th>Oferta pracy</th>
            <th>Etap</th>
            <th>Czas wysłania aplikacji</th>
        </tr>

        @foreach (var stage in Model.AsignedStages)
        {
            @*<tr>*@
            @if (stage.CurrentStage.GetType().Name == "Homework" && (stage.CurrentStage as Homework).HomeworkState == HomeworkState.WaitingForSendHomework)
            {
                if ((stage.CurrentStage as Homework)?.EndTime < DateTime.UtcNow)
                {
                    @:<tr style = "background-color: red;">
                }
            }
            else
            {
                @:<tr>
            }
                <td>
                    <a asp-controller="Application" 
                        asp-action="ApplicationDetails" 
                        asp-route-applicationId="@stage.Application.Id" 
                        asp-route-returnurl="@Context.Request.Path">
                            @Html.DisplayFor(model => stage.Application.User.FirstName)
                            @Html.DisplayFor(model => stage.Application.User.LastName)
                            (@Html.DisplayFor(model => stage.Application.User.Email))
                    </a>
                </td>
                <td>
                    <a asp-controller="JobPosition" 
                        asp-action="Details" 
                        asp-route-jobPositionId="@stage.Application.JobPosition.Id" 
                        asp-route-returnurl="@Context.Request.Path">
                            @Html.DisplayFor(model => stage.Application.JobPosition.Name)
                    </a>
                </td>
                <td>
                    @if (stage.CurrentStage.GetType().Name == "Homework")
                    {
                        var homework = stage.CurrentStage as Homework;
                        switch (homework.HomeworkState)
                        {
                            case HomeworkState.WaitingForSpecification:
                                <a asp-controller="ApplicationStage" 
                                    asp-action="ProcessStage" 
                                    asp-route-stageId="@stage.CurrentStage.Id" 
                                    asp-route-returnurl="@Context.Request.Path">
                                        Dodaj zadanie domowe
                                </a>
                                break;
                            case HomeworkState.WaitingForRead:
                                @:Oczekiwanie na przeczytanie zadania
                                break;
                            case HomeworkState.WaitingForSendHomework:
                                @:Oczekiwanie na wysłanie zadania
                                <b>
                                    (Termin: @Html.DisplayFor(model => homework.EndTime))
                                </b>
                                break;
                            case HomeworkState.Completed:
                                <a asp-controller="ApplicationStage" 
                                    asp-action="ProcessStage" 
                                    asp-route-stageId="@stage.CurrentStage.Id" 
                                    asp-route-returnurl="@Context.Request.Path">
                                        Oceń zadanie domowe
                                </a>
                                break;
                        }
                    }
                    else if (stage.CurrentStage.GetType().Name == "Interview")
                    {
                        var interview = stage.CurrentStage as Interview;
                        switch (interview.InterviewState)
                        {
                            case InterviewState.WaitingForSettingAppointments:
                                <a asp-controller="ApplicationStage" 
                                    asp-action="ProcessStage" 
                                    asp-route-stageId="@stage.CurrentStage.Id" 
                                    asp-route-returnurl="@Context.Request.Path">
                                        Umów się na spotkanie
                                </a>
                                break;
                            case InterviewState.RequestForNewAppointments:
                                <a style="color: blue" 
                                    asp-controller="ApplicationStage" 
                                    asp-action="ProcessStage" 
                                    asp-route-stageId="@stage.CurrentStage.Id" 
                                    asp-route-returnurl="@Context.Request.Path">
                                        Ponów próbę umówienia się na spotkanie
                                </a>
                                break;
                            case InterviewState.WaitingForConfirmAppointment:
                                @:Oczekiwanie na potwierdzenie daty spotkania
                                break;
                            case InterviewState.AppointmentConfirmed:
                                @if (interview.InterviewAppointments?.FirstOrDefault()?.StartTime > DateTime.Now)
                                {
                                    @:Spotkanie potwierdzone (@Html.DisplayFor(model => interview.InterviewAppointments.FirstOrDefault().StartTime))
                                }
                                else
                                {
                                    <a style="color: green"
                                       asp-controller="ApplicationStage"
                                       asp-action="ProcessStage"
                                       asp-route-stageId="@stage.CurrentStage.Id"
                                       asp-route-returnurl="@Context.Request.Path">
                                        Oceń rozmowę kwalifikacyjną
                                    </a>
                                }
                                break;
                        }
                    }
                    else
                    {
                        <a asp-controller="ApplicationStage" 
                            asp-action="ProcessStage" 
                            asp-route-stageId="@stage.CurrentStage.Id" 
                            asp-route-returnurl="@Context.Request.Path">
                                @switch (@stage.CurrentStage.GetType().Name)
                                {
                                    case "ApplicationApproval":
                                        @:Zaakceptuj aplikację
                                        break;
                                    case "PhoneCall":
                                        @:Wykonaj rozmowę telefoniczną
                                        break;
                                }
                        </a>
                    }
                </td>
                <td>
                    @Html.DisplayFor(model => stage.Application.CreatedAt)
                </td>
            @:</tr>
        }
    </table>
}




@*@if (Model.StageSortedByName.Where(x => x.Name == @ViewContext.HttpContext.Request.Query["stageName"]).Count() == 0)
    {
        <b>
            <a asp-action="ApplicationsStagesToReview" asp-route-stageName="">All</a> |
        </b>
    }
    else
    {
        <a asp-action="ApplicationsStagesToReview" asp-route-stageName="">All</a> @:|
    }

    @foreach (var stage in Model.StageSortedByName)
    {
        if (@ViewContext.HttpContext.Request.Query["stageName"] == stage.Name)
        {
            <b>
                <a asp-action="ApplicationsStagesToReview" asp-route-stageName="@stage.Name">
                    @Html.DisplayFor(x => stage.Name)
                    (@Html.DisplayFor(x => stage.Quantity))
                </a> |
            </b>

        }
        else
        {
            <a asp-action="ApplicationsStagesToReview" asp-route-stageName="@stage.Name">
                @Html.DisplayFor(x => stage.Name)
                (@Html.DisplayFor(x => stage.Quantity))
            </a> @:|
        }
    }*@
