@using Recruiter.Models.ApplicationStageViewModels
@model ApplicationsStagesToReviewViewModel

@{
    ViewData["Title"] = "Applications";
}

<h2>Applications to review</h2>

<div>
    <ul class="nav nav-tabs">
        @if (Model.StageSortedByName.Where(x => x.Name == @ViewContext.HttpContext.Request.Query["stageName"]).Count() == 0)
        {
            <li class="nav-item active">
                <a asp-action="ApplicationsStagesToReview" asp-route-stageName="">All</a>
            </li>
        }
        else
        {
            <li class="nav-item ">
                <a asp-action="ApplicationsStagesToReview" asp-route-stageName="">All</a>
            </li>
        }

        @foreach (var stage in Model.StageSortedByName)
        {
            if (@ViewContext.HttpContext.Request.Query["stageName"] == stage.Name)
            {
                <li class="nav-item active">
                    <a asp-action="ApplicationsStagesToReview" asp-route-stageName="@stage.Name">
                        @Html.DisplayFor(x => stage.Name)
                        (@Html.DisplayFor(x => stage.Quantity))
                    </a>
                </li>
            }
            else
            {
                <li Condition="stage.Quantity!=0" class="nav-item">
                    <a asp-action="ApplicationsStagesToReview" asp-route-stageName="@stage.Name">
                        @Html.DisplayFor(x => stage.Name)
                        (@Html.DisplayFor(x => stage.Quantity))
                    </a>
                </li>
                <li Condition="stage.Quantity==0" class="nav-item disabled">
                    <a >
                        @Html.DisplayFor(x => stage.Name)
                    </a>
                </li>
            }
        }
    </ul>
</div>

<br />

@if (!Model.AsignedStages.Any())
{
    <tr><td colspan="3" class="text-center">No applications</td></tr>
}
else
{
    <table class="table table-condensed table-bordered" header header-content="My applications">
        <tr>
            <th>Application</th>
            <th>Job Position</th>
            <th>Stage</th>
            <th>Apply time</th>
        </tr>

        @foreach (var stage in Model.AsignedStages)
        {
            @if ((stage.CurrentStage as Homework).HomeworkState == HomeworkState.WaitingForSendHomework)
            {
                if ((stage.CurrentStage as Homework)?.EndTime < DateTime.UtcNow)
                {
                    @:<tr style = "background-color: red;">
                }
                @*else
                {
                    @:<tr style = "background-color: lightgray;">
                }*@
            }
            else
            {
                @:<tr>
            }
                <td>
                    <a asp-controller="Application" asp-action="ApplicationDetails" asp-route-id="@stage.Application.Id" asp-route-returnurl="@Context.Request.Path">
                        @Html.DisplayFor(model => stage.Application.User.FirstName)
                        @Html.DisplayFor(model => stage.Application.User.LastName)
                        (@Html.DisplayFor(model => stage.Application.User.Email))
                    </a>
                </td>
                <td>
                    <a asp-controller="JobPosition" asp-action="Details" asp-route-id="@stage.Application.JobPosition.Id" asp-route-returnurl="@Context.Request.Path">@Html.DisplayFor(model => stage.Application.JobPosition.Name)</a>
                </td>
                <td>
                    @if (stage.CurrentStage.GetType().Name == "Homework")
                    {
                        var homework = stage.CurrentStage as Homework;
                        switch (homework.HomeworkState)
                        {
                            case HomeworkState.WaitingForSpecification:
                                <a asp-controller="ApplicationStage" asp-action="ProcessStage" asp-route-stageId="@stage.CurrentStage.Id" asp-route-returnurl="@Context.Request.Path">Waiting for specification</a>
                                break;
                            case HomeworkState.WaitingForRead:
                                @:Waiting for reading
                                break;
                            case HomeworkState.WaitingForSendHomework:
                                @:Waiting for sending
                                <b>
                                    (Expiry time: @Html.DisplayFor(model => homework.EndTime))
                                </b>
                                break;
                            case HomeworkState.Completed:
                                <a asp-controller="ApplicationStage" asp-action="ProcessStage" asp-route-stageId="@stage.CurrentStage.Id" asp-route-returnurl="@Context.Request.Path">Waiting for accept</a>
                                break;
                        }
                    }
                </td>
                <td>
                    @Html.DisplayFor(model => stage.Application.CreatedAt)
                </td>
            @:</tr>
        }
    </table>
}


@*@if (Model.StageSortedByName.Where(x => x.Name == @ViewContext.HttpContext.Request.Query["stageName"]).Count() == 0)
{
    <b>
        <a asp-action="ApplicationsStagesToReview" asp-route-stageName="">All</a> |
    </b>
}
else
{
    <a asp-action="ApplicationsStagesToReview" asp-route-stageName="">All</a> @:|
}

@foreach (var stage in Model.StageSortedByName)
{
    if (@ViewContext.HttpContext.Request.Query["stageName"] == stage.Name)
    {
        <b>
            <a asp-action="ApplicationsStagesToReview" asp-route-stageName="@stage.Name">
                @Html.DisplayFor(x => stage.Name)
                (@Html.DisplayFor(x => stage.Quantity))
            </a> |
        </b>

    }
    else
    {
        <a asp-action="ApplicationsStagesToReview" asp-route-stageName="@stage.Name">
            @Html.DisplayFor(x => stage.Name)
            (@Html.DisplayFor(x => stage.Quantity))
        </a> @:|
    }
}*@
