@using Recruiter.Models.ApplicationStageViewModels
@model ApplicationsStagesToReviewViewModel

@{
    ViewData["Title"] = "Applications";
}

<h2>Applications to review</h2>
@if (Model.StageSortedByName.Where(x => x.Name == @ViewContext.HttpContext.Request.Query["stageName"]).Count() == 0)
{
    <b>
        <a asp-action="ApplicationsStagesToReview" asp-route-stageName="">All</a> |
    </b>
}
else
{
    <a asp-action="ApplicationsStagesToReview" asp-route-stageName="">All</a> @:|
}

@foreach (var stage in Model.StageSortedByName)
{
    if (@ViewContext.HttpContext.Request.Query["stageName"] == stage.Name)
    {
        <b>
            <a asp-action="ApplicationsStagesToReview" asp-route-stageName="@stage.Name">
                @Html.DisplayFor(x => stage.Name)
                (@Html.DisplayFor(x => stage.Quantity))
            </a> |
        </b>

    }
    else
    {
        <a asp-action="ApplicationsStagesToReview" asp-route-stageName="@stage.Name">
            @Html.DisplayFor(x => stage.Name)
            (@Html.DisplayFor(x => stage.Quantity))
        </a> @:|
    }
}

<br />
@if (!Model.AsignedStages.Any())
{
    <tr><td colspan="3" class="text-center">No applications</td></tr>
}
else
{
    <table class="table table-condensed table-bordered" header header-content="My applications">
        <tr>
            <th>User</th>
            <th>Job Position</th>
            <th>Stage</th>
            <th>Apply time</th>
        </tr>

        @foreach (var stage in Model.AsignedStages)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => stage.Application.User.FirstName)
                    @Html.DisplayFor(model => stage.Application.User.LastName)
                    (@Html.DisplayFor(model => stage.Application.User.Email))
                </td>
                <td>
                    <a asp-controller="JobPosition" asp-action="Details" asp-route-id="@stage.Application.JobPosition.Id" asp-route-returnurl="@Context.Request.Path">@Html.DisplayFor(model => stage.Application.JobPosition.Name)</a>
                </td>
                <td>
                    <a asp-controller="ApplicationStage" asp-action="ProcessStage" asp-route-stageId="@stage.CurrentStage.Id" asp-route-returnurl="@Context.Request.Path">Process</a>
                </td>
                <td>
                    @Html.DisplayFor(model => stage.Application.CreatedAt)
                </td>
            </tr>
        }
    </table>
}