@model Recruiter.Models.Homework

@{
    ViewData["Title"] = "Homework Datails";
}

<h2>Application Stage Datails - @Model.GetType().Name</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Application.User)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Application.User.FirstName) @Html.DisplayFor(model => model.Application.User.LastName)
            <b Condition="Model.Application.User != null">
                (@Html.DisplayFor(model => model.Application.User.Email))
            </b>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Application.JobPosition)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Application.JobPosition.Name)
        </dd>

        <hr />
        @*<h3>Stage Details</h3>*@
        @*<dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Level)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Level)
        </dd>*@
        <dt>
            Stage
        </dt>
        <dd>
            @switch (@Model.GetType().Name)
            {
                case "ApplicationApproval":
                    @:Application Approval
                    break;
                case "PhoneCall":
                    @:Phone Call
                    break;
                case "Homework":
                    @:Homework
                    break;
                case "Interview":
                    @:Interview
                    break;
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HomeworkState)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HomeworkState)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ResponsibleUser)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ResponsibleUser.FirstName) @Html.DisplayFor(model => model.ResponsibleUser.LastName)
            <b Condition="Model.ResponsibleUser != null">
                (@Html.DisplayFor(model => model.ResponsibleUser.Email))
            </b>
        </dd>

        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.Raw(@Model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Url)
        </dt>
        <dd>
            <a href="@Model.Url" target="_blank" rel="nofollow noopener noreferrer">@Html.DisplayFor(model => model.Url)</a>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SendingTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SendingTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>


        <hr />

        <dt>
            @Html.DisplayNameFor(model => model.Accepted)
        </dt>
        <dd>
            <span condition="@Model.Accepted" class="glyphicon glyphicon-ok"></span>
            <span condition="!@Model.Accepted && Model.State == ApplicationStageState.Finished" class="glyphicon glyphicon-remove"></span>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AcceptedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AcceptedBy.FirstName) @Html.DisplayFor(model => model.AcceptedBy.LastName)
            <b Condition="Model.AcceptedBy != null">
                (@Html.DisplayFor(model => model.AcceptedBy.Email))
            </b>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rate)
        </dd>

    </dl>
</div>

<a condition="@ViewData["ReturnUrl"] != null" class="btn btn-sm btn-default" href="@ViewData["ReturnUrl"]">Back</a>
@*<a condition="@ViewData["ReturnUrl"] == null" class="btn btn-sm btn-default" asp-controller="Home" asp-action="Index">Back</a>*@
<a condition="@ViewData["ReturnUrl"] == null"
   class="btn btn-sm btn-default"
   asp-controller="Application"
   asp-action="ApplicationDetails"
   asp-route-applicationId="@Model.ApplicationId">
    Back
</a>