@model Recruiter.Models.ApplicationStageViewModels.ProcessHomeworkStageViewModel

@{
    ViewData["Title"] = "Process Homework";
}

@await Html.PartialAsync("_ApplicationDetailsPartialView", Model.Application)

<hr />
<h3>Oceń zadanie domowe</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StageToProcess.Description)
        </dt>
        <dd>
            @Html.Raw(@Model.StageToProcess.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StageToProcess.Url)
        </dt>
        <dd>
            <a href="@Model.StageToProcess.Url" target="_blank" rel="nofollow noopener noreferrer">@Html.DisplayFor(model => model.StageToProcess.Url)</a>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StageToProcess.StartTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StageToProcess.StartTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StageToProcess.SendingTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StageToProcess.SendingTime)
            <span condition="@Model.StageToProcess.SendingTime > @Model.StageToProcess.EndTime" class="glyphicon glyphicon-remove"></span>
            <span condition="@Model.StageToProcess.SendingTime <= @Model.StageToProcess.EndTime" class="glyphicon glyphicon-ok"></span>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StageToProcess.EndTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StageToProcess.EndTime)
        </dd>
    </dl>
    <form asp-controller="ApplicationStage" asp-action="ProcessPhoneCall" method="post" class="form-horizontal" role="form">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group" hidden>
            <label asp-for="Application.Id" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Application.Id" class="form-control" readonly="readonly" />
                <span asp-validation-for="Application.Id" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group" hidden>
            <label asp-for="StageToProcess.Id" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="StageToProcess.Id" class="form-control" readonly="readonly" />
                <span asp-validation-for="StageToProcess.Id" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="StageToProcess.Note" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="StageToProcess.Note" class="form-control" />
                <span asp-validation-for="StageToProcess.Note" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="StageToProcess.Rate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="StageToProcess.Rate" class="form-control" />
                <span asp-validation-for="StageToProcess.Rate" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-5">
                <input type="submit" class="btn btn-success btn-block" value="Zaakceptuj" asp-route-accepted="@true" asp-route-returnUrl="@ViewData["ReturnUrl"]" />
            </div>
            <div class="col-md-5">
                <input type="submit" class="btn btn-danger btn-block" value="Odrzuć" asp-route-accepted="@false" asp-route-returnUrl="@ViewData["ReturnUrl"]" />
            </div>

            @*<div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-success btn-block" value="Zaakceptuj" asp-route-accepted="@true" asp-route-returnUrl="@ViewData["ReturnUrl"]" />
            <input type="submit" class="btn btn-danger btn-block" value="Odrzuć" asp-route-accepted="@false" asp-route-returnUrl="@ViewData["ReturnUrl"]" />
            </div>*@

            @*<a asp-action="ApplicationsStagesToReview" asp-controller="ApplicationStage" asp-route-stageName="Homework" class="btn btn-sm btn-default">Back</a>*@
        </div>
        <div class="col-md-14">
            <a condition="@ViewData["ReturnUrl"] != null" class="btn btn-sm btn-block btn-default" href="@ViewData["ReturnUrl"]">Wróć</a>
            <a condition="@ViewData["ReturnUrl"] == null" class="btn btn-sm btn-block btn-default" asp-action="Index">Wróć</a>
        </div>
    </form>
</div>


@await Html.PartialAsync("_FinishedStagesPartialView", Model.ApplicationStagesFinished)
@await Html.PartialAsync("_WaitingStagesPartialView", Model.ApplicationStagesWaiting)