@model IEnumerable<Recruiter.Models.InterviewAppointment>

@{
    ViewData["Title"] = "Show My Appointments";
}

<h2>Show My Appointments</h2>

@*<h3>Appointments</h3>*@
<div class="row panel-body">
    @if (Model.Count() != 0)
    {
        <table class="well table table-condensed table-bordered" header header-content="Interview Appointments">
            <thead>
                <tr>
                    @*<th>@Html.DisplayNameFor(model => model.StageToProcess.InterviewAppointments.First().Id)</th>*@

                    <th>@Html.DisplayNameFor(model => model.First().StartTime)</th>
                    <th>@Html.DisplayNameFor(model => model.First().EndTime)</th>
                    <th>@Html.DisplayNameFor(model => model.First().Duration)</th>
                    <th>User - JobPosition</th>
                    <th>@Html.DisplayNameFor(model => model.First().InterviewAppointmentState)</th>
                    @*<th>@Html.DisplayNameFor(model => model.First().AcceptedByRecruit)</th>*@
                    <th>@Html.DisplayNameFor(model => model.First().AcceptedByRecruitTime)</th>
                    <th>
                        <span class="glyphicon glyphicon-wrench">
                        </span>
                    </th>
                    @*<th>@Html.DisplayNameFor(model => model.StageToProcess.InterviewAppointments.First().InterviewId)</th>*@
                </tr>
            </thead>
            <tbody>
                @foreach (var appointment in Model)
                {
                    @*@if (appointment.Interview.State == ApplicationStageState.Finished)
                    {
                        @:<tr style="color: gray">
                    }
                    else*@ 
                    if(appointment.InterviewAppointmentState == InterviewAppointmentState.Rejected)
                    {
                        @:<tr style="color: gray">
                    }
                    else if(appointment.InterviewAppointmentState == InterviewAppointmentState.Confirmed)
                    {
                        @:<tr style="color: green">
                    }
                    else
                    {
                        @:<tr>
                    }
                        @*<td>@Html.DisplayFor(model => appointment.Id)</td>*@
                        <td>@Html.DisplayFor(model => appointment.StartTime)</td>
                        <td>@Html.DisplayFor(model => appointment.EndTime)</td>
                        <td>@Html.DisplayFor(model => appointment.Duration)</td>
                        <td>
                            @Html.DisplayFor(model => appointment.Interview.Application.User.FirstName)
                            @Html.DisplayFor(model => appointment.Interview.Application.User.LastName)
                            (@Html.DisplayFor(model => appointment.Interview.Application.User.Email))
                            - @Html.DisplayFor(model => appointment.Interview.Application.JobPosition.Name)
                        </td>
                        <td>@Html.DisplayFor(model => appointment.InterviewAppointmentState)</td>
                        <td>
                            <span condition="appointment.AcceptedByRecruit" class="glyphicon glyphicon-ok"></span>
                            @Html.DisplayFor(model => appointment.AcceptedByRecruitTime)
                        </td>
                        <td>
                            <a Condition="appointment.InterviewAppointmentState == InterviewAppointmentState.WaitingToAdd"
                               class="btn btn-default" asp-action="RemoveAssignedAppointment"
                               asp-route-appointmentId="@appointment.Id"
                               asp-route-returnurl="@Context.Request.Path">
                                <span class="glyphicon glyphicon-minus small">
                                </span>
                            </a>
                        </td>
                        @*<td>@Html.DisplayFor(model => appointment.InterviewId)</td>*@
                    @:</tr>
                }   
                @*@foreach (var appointment in Model.Where(x => x.InterviewAppointmentState == InterviewAppointmentState.Rejected))
                {
                    <tr style="color: red">

                    <td>@Html.DisplayFor(model => appointment.StartTime)</td>
                    <td>@Html.DisplayFor(model => appointment.EndTime)</td>
                    <td>@Html.DisplayFor(model => appointment.Duration)</td>
                    <td>
                        @Html.DisplayFor(model => appointment.Interview.Application.User.FirstName)
                        @Html.DisplayFor(model => appointment.Interview.Application.User.LastName)
                        (@Html.DisplayFor(model => appointment.Interview.Application.User.Email))
                        - @Html.DisplayFor(model => appointment.Interview.Application.JobPosition.Name)
                    </td>
                    <td>@Html.DisplayFor(model => appointment.InterviewAppointmentState)</td>
                    <td>
                        <span condition="appointment.AcceptedByRecruit" class="glyphicon glyphicon-ok"></span>
                        @Html.DisplayFor(model => appointment.AcceptedByRecruitTime)</td>
                    <td>
                        <a Condition="appointment.InterviewAppointmentState == InterviewAppointmentState.WaitingToAdd"
                           class="btn btn-default" asp-action="RemoveMyAppointments"
                           asp-route-appointmentId="@appointment.Id"
                           asp-route-returnurl="@Context.Request.Path">
                            <span class="glyphicon glyphicon-minus small">
                            </span>
                        </a>
                    </td>
                </tr>
                }*@
            </tbody>
        </table>
    }
    else
    {
        @:Interview Appointments not found.
    }
</div>

@*<a condition="@ViewData["ReturnUrl"] != null" class="btn btn-sm btn-default" href="@ViewData["ReturnUrl"]">Back</a>
<a condition="@ViewData["ReturnUrl"] == null" class="btn btn-sm btn-default" asp-controller="Home" asp-action="Index">Back</a>*@